@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in base so that Tailwind's classed can override properties */
@layer base {

  /* MATERIAL SYMBOLS */
  @font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('/static/font/MaterialSymbolsRounded.woff2') format('woff2');
  }

  a.classic-link {
    @apply underline text-blue-600;
  }

  a.classic-link:hover {
    @apply text-blue-500;
  }

  a.classic-link:active {
    @apply text-blue-700;
  }

  .matsym {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    overflow: hidden;
    /* display: flex; */
    display: block;
    /* align-items: center; */
    /* justify-content: center; */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    user-select: none;
    -webkit-user-select: none;
  }

  .matsym.big {
    font-size: 32px;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
  }

  .matsym.bigger {
    font-size: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
  }

  /* PROPER CHECKBOXES AND RADIO BUTTONS */
  input[type="checkbox"] {
    /* Use tailwind classes for the optics ... */
    @apply min-w-8 min-h-8 rounded-md border border-gray-200 bg-white shadow-inner flex items-center justify-center;
    /* ... and manual CSS for the checkmark. */
    appearance: none;
  }

  input[type="checkbox"]:hover {
    @apply shadow-none;
  }

  input[type="checkbox"]:active {
    @apply bg-gray-50 shadow-inner;
  }

  input[type="checkbox"]::before {
    font-family: 'Material Symbols Rounded';
    content: '';
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  input[type="checkbox"]:checked::before {
    content: 'check';
  }

  input[type="radio"] {
    /* Use tailwind classes for the optics ... */
    @apply min-w-6 min-h-6 max-w-6 max-h-6 rounded-full border-zinc-500 bg-white shadow-inner flex items-center justify-center cursor-pointer;
    /* ... and manual CSS for the checkmark. */
    appearance: none;
  }

  input[type="radio"]:hover {
    @apply shadow-none;
  }

  input[type="radio"]:active {
    @apply bg-zinc-50 shadow-inner;
  }

  input[type="radio"]:checked {
    @apply border-[0.5rem] cursor-auto;
  }

  fieldset:disabled input[type="radio"],
  input[type="radio"]:disabled {
    @apply shadow-none bg-zinc-100 cursor-not-allowed;
  }
}

/* common components across the app */
@layer components {

  /* single label in a fieldset of options */
  .radio-fieldset-option {
    @apply flex-1 p-2 rounded-md bg-zinc-300 text-zinc-800 flex items-center gap-1 text-lg border-2 border-zinc-300 shadow-md cursor-pointer;
  }

  .radio-fieldset-option:hover {
    @apply bg-zinc-200 border-zinc-200;
  }

  .radio-fieldset-option:active {
    @apply shadow-none;
  }

  .radio-fieldset-option:has(:checked) {
    @apply shadow-inner bg-zinc-50 text-zinc-800 border-zinc-500 cursor-auto;
  }

  .radio-fieldset-option:has(:disabled) {
    @apply bg-zinc-200 text-zinc-400 border-zinc-200 shadow-none cursor-not-allowed;
  }

  .radio-fieldset-option:has(:checked:disabled) {
    @apply cursor-not-allowed;
  }

  /* primary button for big actions */
  .btn-primary {
    @apply flex items-center justify-center gap-4 px-8 py-4 rounded-full bg-zinc-300 text-zinc-800 text-xl font-bold cursor-pointer shadow-none;
  }

  .btn-primary:hover {
    @apply bg-zinc-200 shadow-md;
  }

  .btn-primary:active {
    @apply shadow-none;
  }

  .btn-primary:disabled {
    @apply shadow-none text-zinc-400 bg-zinc-200 cursor-not-allowed;
  }

  /* secondary button for smaller actions */
  .btn-secondary {
    @apply flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-zinc-300 text-zinc-800 font-bold cursor-pointer shadow-none;
  }

  .btn-secondary:hover {
    @apply bg-zinc-300 shadow-md;
  }

  .btn-secondary:active {
    @apply shadow-none;
  }

  .btn-secondary:disabled {
    @apply shadow-none text-zinc-400 bg-zinc-200 cursor-not-allowed;
  }
}
