@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this in base so that Tailwind's classed can override properties */
@layer base {
  /* MATERIAL SYMBOLS */
  @font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('/static/font/MaterialSymbolsRounded.woff2') format('woff2');
  }

  .matsym {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  /* PROPER CHECKBOXES AND RADIO BUTTONS */
  input[type="checkbox"] {
    /* Use tailwind classes for the optics ... */
    @apply min-w-8 min-h-8 rounded-md border border-gray-200 bg-white shadow-inner flex items-center justify-center;
    /* ... and manual CSS for the checkmark. */
    appearance: none;
  }

  input[type="checkbox"]:hover {
    @apply shadow-none;
  }

  input[type="checkbox"]:active {
    @apply bg-gray-50 shadow-inner;
  }

  input[type="checkbox"]::before {
    font-family: 'Material Symbols Rounded';
    content: '';
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

  input[type="checkbox"]:checked::before {
    content: 'check';
  }

  input[type="radio"] {
    /* Use tailwind classes for the optics ... */
    @apply min-w-8 min-h-8 max-w-8 max-h-8 rounded-full border-gray-600 bg-white shadow-inner flex items-center justify-center;
    /* ... and manual CSS for the checkmark. */
    appearance: none;
  }

  input[type="radio"]:hover {
    @apply shadow-none;
  }

  input[type="radio"]:active {
    @apply bg-gray-50 shadow-inner;
  }

  input[type="radio"]:checked {
    @apply border-[0.7rem];
  }
}

