{% extends "base.html" %}

{% block title -%}
Upload a File - E2EE Fileshare
{%- endblock %}

{% block content %}
<div class="m-8">
  <div class="max-w-lg lg:max-w-6xl lg:shadow-lg lg:bg-gray-100 lg:rounded-xl flex flex-col lg:p-8 gap-8 mx-auto">
    <h2 class="flex gap-4 text-2xl justify-center lg:justify-start">
      <span class="matsym text-3xl">home_storage</span>
      Viewing All Uploaded Files
    </h2>
    <table>
      <thead>
        <tr class="hidden lg:table-row text-left *:font-bold *:p-4 text-gray-500">
          <th class=""> ID </th>
          <th class=""> Size </th>
          <th class=""> Uploaded </th>
          <th class=""> Expires in </th>
          <th class=""> <span class="matsym">visibility</span> </th>
          <th class=""> <span class="matsym">download</span> </th>
          <th class=""> <span class="matsym">delete</span> </th>
        </tr>
      </thead>
      <tbody class="lg:table-row-group flex flex-col gap-8">
        <tr
          class="flex lg:table-row flex-col lg:*:p-4 gap-6 lg:border-t-2 lg:border-gray-200 rounded-xl bg-gray-100 lg:bg-inherit shadow-lg lg:shadow-none p-8 lg:p-0">
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">code</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">ID</div>
              <div class="text-xl lg:text-base">6c55dcfc18be9498</div>
            </div>
          </td>
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">clock_loader_90</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">Size</div>
              <div class="text-xl lg:text-lg">4.56 MB</div>
            </div>
          </td>
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">note_add</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">Uploaded</div>
              <div class="flex lg:flex-col gap-2 lg:gap-0 items-baseline text-xl lg:text-lg">
                <div class="text-xl lg:text-lg">
                  4h 34m ago
                </div>
                <div class="text-gray-500 text-sm">
                  (4:32 PM GMT, Oct 22, 2024)
                </div>
              </div>
            </div>
          </td>
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">auto_delete</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">Expires in</div>
              <div class="flex lg:flex-col gap-2 lg:gap-0 items-baseline text-xl lg:text-lg">
                <div class="text-xl lg:text-lg">
                  4d 14h 32m
                </div>
                <div class="text-gray-500 text-sm">
                  (4:32 PM GMT, Oct 29, 2024)
                </div>
              </div>
            </div>
          </td>
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">visibility</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">Views</div>
              <div class="text-xl lg:text-lg lg:text-center">23</div>
            </div>
          </td>
          <td class="flex lg:table-cell flex-row gap-4">
            <div class="lg:hidden matsym text-2xl text-gray-500">download</div>
            <div class="flex flex-col">
              <div class="lg:hidden text-gray-500">Downloads</div>
              <div class="text-xl lg:text-lg lg:text-center">7</div>
            </div>
          </td>
          <td>
            <button type="button" id="dl-button"
              class="w-full lg:w-auto lg:mx-auto flex items-center justify-center gap-4 p-4 rounded-full bg-gray-300 text-xl font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
              <span class="matsym">delete</span>
              <span class="lg:hidden">Delete from Server</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
