<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="/font/InterVariable-subset-eff74dc0.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/font/MaterialSymbolsRounded-subset-fe4f124c.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/static/main.css">
  <title>{% block title %}{% endblock %} - {{ global_app_name }}</title>
  {% block head %}{% endblock %}
</head>

<body class="flex flex-col min-h-[100svh] bg-zinc-100 sm:bg-zinc-300 text-zinc-800">
  <div class="shadow-md z-10 bg-zinc-300 sm:bg-zinc-100">
    <div class="flex items-center px-4 p-2 gap-2 sm:px-8 sm:py-4 max-w-5xl mx-auto">
      <h1 class="text-xl sm:text-3xl leading-none text-zinc-700 font-light tracking-tight">
        <a href="/">{{ global_app_name }}</a>
      </h1>
      <nav class="flex items-center gap-4 ml-auto">
        <a class="font-bold p-2 sm:p-4 rounded-lg hover:bg-zinc-200 flex gap-2 hover:shadow-md active:shadow-none"
          href="/">
          <span class="matsym" aria-hidden="true">upload_file</span>
          <span class="hidden sm:block">Upload</span>
        </a>
        <a class="font-bold p-2 sm:p-4 rounded-lg hover:bg-zinc-200 flex gap-2 hover:shadow-md active:shadow-none"
          href="/admin">
          <span class="matsym" aria-hidden="true">manage_accounts</span>
          <span class="hidden sm:block">Administration</span>
        </a>
      </nav>
    </div>
  </div>
  <div class="flex-1">
    <main class="m-4 mt-8 sm:m-8">
      {% block content %}{% endblock %}
    </main>
  </div>
  {% if demo_mode %}
  <div class="m-4">
    <aside class="max-w-lg mx-auto gap-4 p-4 sm:p-8 shadow-lg rounded-xl flex border-2 border-cyan-400 flex-col items-center bg-cyan-100 text-cyan-800">
      <h3 class="flex gap-4 text-2xl mb-4">
        <span class="matsym big" aria-hidden="true">star</span>
        Demo Instance
      </h3>
      <p>
        This is a <strong>demo instance</strong> of <a class="classic-link" href="#">EonuFileshare</a>.
        Use it to test the app's features before deciding to deploy it yourself.
      </p>
      <ul class="flex flex-col gap-4">
        <li class="flex gap-4 items-center">
          <span class="matsym" aria-hidden="true">auto_delete</span>
          <span>
            Uploads always expire after <strong>15 minutes</strong>, regardless of the expiry time selected during upload.
          </span>
        </li>
        <li class="flex gap-4 items-center">
          <span class="matsym" aria-hidden="true">password</span>
          <span>
            Anyone can access and test the <a class="classic-link" href="/admin">admin interface</a> using the password "<strong>admin</strong>".
          </span>
        </li>
      </ul>
    </aside>
  </div>
  {% endif %}
  <footer class="flex flex-col items-center mt-8 sm:mt-0 gap-2 p-4 bg-zinc-300 text-zinc-600">
    <p class="text-center text-balance py-2">
      built with <a class="classic-link" href="">Rust</a> and &#x2665; by <a class="classic-link"
        href="https://tobiasm.dev">Tobias Marschner</a>
    </p>
    <ul class="flex flex-wrap items-center justify-center gap-y-2 gap-x-6">
      <li><a class="classic-link" href="/">Source Code</a></li>
      <li><a class="classic-link" href="/">Acknowledgements</a></li>
      <li><a class="classic-link" href="/">Report a Bug</a></li>
      <li><a class="classic-link" href="/">Legal Notice</a></li>
      <li><a class="classic-link" href="/">Privacy Policy</a></li>
    </ul>
  </footer>
</body>

</html>
