{% extends "base.html" %}

{% block title -%}
Download a File - E2EE Fileshare
{%- endblock %}

{% block content %}
<div class="m-8">
  <div id="error-box" class="hidden max-w-lg mx-auto flex-col gap-4 p-8 rounded-xl bg-gray-200 mb-8 shadow-lg">
    <div class="flex items-center gap-4">
      <span class="matsym text-4xl" id="fs-status-icon">warning</span>
      <span id="error-box-head" class="text-lg font-bold"></span>
    </div>
    <p id="error-box-text"></p>
  </div>
  <div id="dl-box" class="hidden max-w-lg shadow-lg bg-gray-100 rounded-xl flex-col p-8 gap-8 mx-auto">
    <h2 class="admin-only hidden gap-4 text-2xl self-center">
      <span class="matsym text-3xl">security</span>
      Admin Page
    </h2>
    <ul class="flex flex-col gap-4">
      <li class="flex gap-4">
        <span class="matsym text-2xl text-gray-500">draft</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Filename</span>
          <span id="dl-filename" class="text-xl [word-break:break-word]">cool_file.txt</span>
        </div>
      </li>
      <li class="flex gap-4">
        <span class="matsym text-2xl text-gray-500">clock_loader_90</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Size</span>
          <span id="dl-filesize" class="text-xl">4.56 MB</span>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">note_add</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Created</span>
          <div class="flex items-baseline gap-2">
            <span id="dl-upload-pretty" class="text-xl">14h 32m ago</span>
            <span id="dl-upload-ts" class="text-gray-500">(4:32 PM GMT, Oct 22, 2024)</span>
          </div>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">auto_delete</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Expires in</span>
          <div class="flex items-baseline gap-2">
            <span id="dl-expiry-pretty" class="text-xl">4d 14h 32m</span>
            <span id="dl-expiry-ts" class="text-gray-500">(4:32 PM GMT, Oct 27, 2024)</span>
          </div>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">visibility</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Views</span>
          <span id="dl-views" class="text-xl">23</span>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">download</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Downloads</span>
          <span id="dl-downloads" class="text-xl">7</span>
        </div>
      </li>
    </ul>
    <div class="flex flex-col gap-6">
      <button type="button" id="dl-button"
        class="flex items-center justify-center gap-4 p-4 rounded-full bg-gray-300 text-xl font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
        <span class="matsym">download</span>
        Download and Decrypt
      </button>
      <button type="button" id="dl-button"
        class="admin-only hidden items-center justify-center gap-4 p-4 rounded-full bg-gray-300 text-xl font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
        <span class="matsym">delete</span>
        Delete from Server
      </button>
      <div class="admin-only hidden flex-col items-center rounded-lg shadow-md bg-gray-200 py-2 gap-2">
        <span class="center text-gray-800 font-bold text-xl p-2 flex gap-2">
          <span class="matsym">public</span>
          <span>
            Public Download Link
          </span>
        </span>
        <input class="self-stretch text-md p-2 shadow-inner border-2 border-gray-200" type="text"
          value="http://localhost/p/f85a4e#key=123456" id="admin-link" readonly>
        <div class="flex gap-4 p-2">
          <button type="button"
            class="flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-gray-300 font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
            <span class="matsym">open_in_new</span>
            <span>Open</span>
          </button>
          <button type="button"
            class="flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-gray-300 font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
            <span class="matsym">content_paste</span>
            <span>Copy to Clipboard</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
// Suite of utilities for working with base64 in the browser.
// Specifically, we will be working with base64url,
// which replaces + and / with - and _ to make the strings URL-safe.
//
// The methods are adapted from the excellent MDN resource on the topic:
// https://developer.mozilla.org/en-US/docs/Web/API/Window/btoa

// Encode Uint8Array to base64url-string, and truncate the padding.
function b64u_encBytes(bytes) {
  const binString = Array.from(bytes, (byte) =>
    String.fromCodePoint(byte),
  ).join("");
  return btoa(binString).replaceAll('+', '-').replaceAll('/', '_').replaceAll('=', '')
                                                                   
}

// Decode base64url-string to Uint8Array.
function b64u_decBytes(base64) {
  const binString = atob(base64.replaceAll('-', '+').replaceAll('_', '/'));
  return Uint8Array.from(binString, (m) => m.codePointAt(0));
}

// Encode JS-string to base64url-string (via Uint8Array and TextEncoder) and truncate the padding.
function b64u_encString(str) {
  return b64u_encBytes(new TextEncoder().encode(str));
}

// Decode base64url-string to JS-string. (via Uint8Array and TextEncoder)
function b64u_decString(base64) {
  return new TextEncoder().decode(b64u_decBytes(base64));
}

  {% include "common.js" %}
  {% include "download.js" %}
</script>
{% endblock %}
