{% extends "base.html" %}

{% block title -%}
Download a File - E2EE Fileshare
{%- endblock %}

{% block content %}
<div class="m-8">
  <div id="error-box" class="hidden max-w-lg mx-auto flex-col gap-4 p-8 rounded-xl bg-gray-200 mb-8 shadow-lg">
    <div class="flex items-center gap-4">
      <span class="matsym text-4xl" id="fs-status-icon">warning</span>
      <span id="error-box-head" class="text-lg font-bold"></span>
    </div>
    <p id="error-box-text"></p>
  </div>
  <div id="dl-box" class="hidden max-w-lg shadow-lg bg-gray-100 rounded-xl flex-col p-8 gap-8 mx-auto">
    <h2 class="admin-only hidden gap-4 text-2xl self-center">
      <span class="matsym text-3xl">security</span>
      Admin Page
    </h2>
    <ul class="flex flex-col gap-4">
      <li class="flex gap-4">
        <span class="matsym text-2xl text-gray-500">draft</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Filename</span>
          <span id="dl-filename" class="text-xl [word-break:break-word]">cool_file.txt</span>
        </div>
      </li>
      <li class="flex gap-4">
        <span class="matsym text-2xl text-gray-500">clock_loader_90</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Size</span>
          <span id="dl-filesize" class="text-xl">4.56 MB</span>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">note_add</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Created</span>
          <div class="flex items-baseline gap-2">
            <span id="dl-upload-pretty" class="text-xl">14h 32m</span>
            <span id="dl-upload-ts" class="text-gray-500">(4:32 PM GMT, Oct 22, 2024)</span>
          </div>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">auto_delete</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Expires in</span>
          <div class="flex items-baseline gap-2">
            <span id="dl-expiry-pretty" class="text-xl">4d 14h 32m</span>
            <span id="dl-expiry-ts" class="text-gray-500">(4:32 PM GMT, Oct 27, 2024)</span>
          </div>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">visibility</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Views</span>
          <span id="dl-views" class="text-xl">23</span>
        </div>
      </li>
      <li class="admin-only hidden gap-4">
        <span class="matsym text-2xl text-gray-500">download</span>
        <div class="flex flex-col">
          <span class="text-gray-500">Downloads</span>
          <span id="dl-downloads" class="text-xl">7</span>
        </div>
      </li>
    </ul>
    <div class="flex flex-col gap-6">
      <button type="button" id="download-button"
        class="admin-only flex items-center justify-center gap-4 p-4 rounded-full bg-gray-300 text-xl font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm disabled:shadow-none disabled:text-gray-400 disabled:bg-gray-200 disabled:cursor-not-allowed">
        <span class="matsym">download</span>
        Download and Decrypt
      </button>
      <div id="download-progress" class="hidden flex-row gap-4 p-4 rounded-md bg-gray-200">
        <span class="matsym text-4xl animate-spin" id="dl-status-icon">progress_activity</span>
        <div class="flex-1 flex flex-col items-stretch justify-center gap-2">
          <div id="dl-status-text" class="text-lg font-bold"></div>
          <div id="dl-pbar" class="flex min-h-2 bg-gray-200 rounded-full">
            <div id="dl-pbar-inner" class="mr-auto bg-gray-400 rounded-full transition-width duration-500 ease-out"
              style="width: 0%;"></div>
          </div>
        </div>
      </div>
      <button type="button" id="delete-button"
        class="admin-only hidden items-center justify-center gap-4 p-4 rounded-full bg-gray-300 text-xl font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
        <span class="matsym">delete</span>
        Delete from Server
      </button>
      <div id="admin-download-box"
        class="admin-only hidden flex-col items-center rounded-lg shadow-md bg-gray-200 py-2 gap-2">
        <span class="center text-gray-800 font-bold text-xl p-2 flex gap-2">
          <span class="matsym">public</span>
          <span>
            Public Download Link
          </span>
        </span>
        <input id="admin-download-input" class="self-stretch text-md p-2 shadow-inner border-2 border-gray-200"
          type="text" readonly>
        <div class="flex gap-4 p-2">
          <a id="admin-download-link" target="_blank"
            class="flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-gray-300 font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
            <span class="matsym">open_in_new</span>
            <span>Open</span>
          </a>
          <button id="admin-download-copy" type="button"
            class="flex items-center justify-center gap-2 py-2 px-4 rounded-full bg-gray-300 font-bold cursor-pointer shadow-sm hover:shadow-md active:shadow-sm">
            <span class="matsym">content_paste</span>
            <span>Copy to Clipboard</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
{% include "common.js" %}

// TEMPLATE VARIABLES
let response_type = '{{ response_type | safe }}';
let error_head = '{{ error_head | safe }}';
let error_text = '{{ error_text | safe }}';
let e_filename = new Uint8Array({{ e_filename | safe }});
let iv_fd = new Uint8Array({{ iv_fd | safe }});
let iv_fn = new Uint8Array({{ iv_fn | safe }});
let filesize = {{ filesize | safe }};
let upload_ts = '{{ upload_ts | safe }}';
let upload_ts_pretty = '{{ upload_ts_pretty | safe }}';
let expiry_ts = '{{ expiry_ts | safe }}';
let expiry_ts_pretty = '{{ expiry_ts_pretty | safe }}';
let views = {{ views | safe }};
let downloads = {{ views | safe }};

const urlParams = new URLSearchParams(window.location.search);
const efd_sha256sum = urlParams.get('hash');
const key_string = window.location.hash.substring(5);

let key;
let d_filename;
let d_filedata;

{% include "download.js" %}
</script>
{% endblock %}
